html, body {
    height:100%;
}

body {
    min-width: 860px;
    padding-top: 50px;
}
a:active, a:focus {
    outline:  none;
    ie-dummy: expression(this.hideFocus=true);
}

.wrap {
    width:100%; height:100%;
}

#left_menu{
    position:fixed; background-color:#333745; width:95px; height:100%;
    border-right: 1px solid #232633;
}

.navi {width:94px; overflow:hidden;}
.navi_s {overflow:hidden; height:500px; list-style:none; margin:0; width:94px; padding:0}
.navi_s li {float:left; width:94px; border-top: 1px solid #3d414e; border-bottom: 1px solid #232633;}
.navi_s li a span {display:none;}
.navi_s li a {background:url("../images/tool_menu.png") no-repeat;}
.navi_s li a {height:94px;width:100px;display:block;}
.navi_s li a:hover {background-color:#3d414e;}

.navi .n01 a {width:94px; background-position:0px 0px;}
.navi .n02 a {width:94px; background-position:0px -100px;}
.navi .n03 a {width:94px; background-position:0px -200px;}
.navi .n04 a {width:94px; background-position:0px -300px;}
.navi .n05 a {width:94px; background-position:0px -395px;}

#sub_menu{
    padding-top: 8px; padding-left:15px; padding-right:15px;
    position:fixed; margin-left: 95px; background-color:#f1f2f5; width:350px;
    height:calc(100% - 50px); overflow-y: auto; overflow-x:hidden;
}

#sub_menu_control{
    width:315px; padding-bottom:10px; border-bottom: 1px solid #dfdfdf;
}

#sub_menu_item{
    padding-top:15px;
    width:315px;
}

#main_contents{
    width: auto; margin-left: 445px;
    padding: 20px;
}

#main_contents_large{
    margin-left:95px; width: auto; padding:30px;
}

#resource_contents{
    padding:15px;
    margin-left:95px; margin-right:350px;
    height: 100%;  overflow-y:scroll;
}

#resource_setting{
    padding-top:60px;
    position:fixed; top:0px; right:0px; width:350px; background-color:#f1f2f5;
    height:100%; border-left: 1px solid #dfdfdf;
}

.node-treeview {
    font-size:9pt;
    padding-top:3px;

}

.hr2 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color:#d2d2d2;
    border-style: solid none;
    border-width: 1px 0;
}



/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
    width:100%;
    min-width: 860px;
    max-width: none !important;
}

/* Demonstrate the grids */
.col-xs-4 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

.thumbnail-div{ width:190px; height:260px; overflow:hidden; margin-left:30px; margin-right:20px; display:inline-block; word-break: break-all;}
.thumbnail{ margin-bottom:10px; cursor:pointer; height:180px; width:180px; display:table-cell; vertical-align:middle; text-align:center; overflow:hidden;}

.itemListGroup{ display: block; width:100%; background-color:#f5f5f5; height:35px;
    border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; cursor:pointer;
    padding: 6px 10px; margin-bottom:20px; }




.right_checkbox{
    float:right; margin-top:-4px; margin-right:-5px;
}


.onoffswitch {
    position: relative; width: 71px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 17px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #71A2DE; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 10px; margin: 7px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 17px;
    position: absolute; top: 0; bottom: 0; right: 43px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


