@()

@main("Register") {
    <style>
    body{background-color:#f7f7f7;}

    .itemWrap{height:80px;}
    </style>

    <center>
        <div class="panel panel-default" style="width:650px; margin-top:80px; padding-bottom:15px;">
            <div class="panel-body">

                <form class="form-signin" role="form" action="/" id="registerForm">
                    <h3 class="form-signin-heading">Feedle Register</h3>
                    <hr>
                        <div style="text-align: left; width:80%;">

                            <div class="itemWrap">
                            <label>User ID</label>
                            <input type="text" name="id" class="form-control" placeholder="User ID" required autofocus/>
                            </div>

                            <div class="itemWrap">
                            <label>Password</label>
                            <input type="password" name="pwd" class="form-control" placeholder="Password" required />
                            </div>

                            <div class="itemWrap">
                                <label>Confirm Password</label>
                                <input type="password" name="pwd2" class="form-control" placeholder="Confirm Password" required/>
                            </div>

                            <div class="itemWrap">
                                <label>Email Address</label>
                                <input type="email" name="email" class="form-control" placeholder="Email Address" required/>
                            </div>

                        </div>
                    <hr>

                    <button class="btn btn-primary" type="submit" style="float:right; width:170px; margin-left:5px;">Create Feedle ID</button>
                    <span class="btn btn-default" type="submit" style="float:right; width:100px; margin-left:5px;" onclick="location.href='@routes.Member.login()'">Cancel</span>

                </form>

            </div>
        </div>
        © Feedle. All Rights Reserved.
    </center>


    <script>




    $( "#registerForm" ).submit(function( event ) {

        event.preventDefault();
        var $form = $( this ),
        id = $form.find( "input[name='id']" ).val(),
        pwd = $form.find( "input[name='pwd']" ).val(),
        pwd2 = $form.find( "input[name='pwd2']" ).val(),
        email = $form.find( "input[name='email']" ).val(),
        url = $form.attr("action");

        if( $form.find( "input[name='id']" ).val() == "")
        {
            alert("아이디를 입력해주세요.");
            return;
        }

        if( $form.find( "input[name='pwd']" ).val() == "")
        {
        alert("비밀번호가 공란입니다.");
        return;
        }


        if( $form.find( "input[name='email']" ).val() == "")
        {
           alert("이메일을 입력해주세요.");
         return;
        }

        var email = $form.find( "input[name='email']" ).val();
        var regExp = /[0-9a-zA-Z][_0-9a-zA-Z-]*@@[_0-9a-zA-Z-]+(\.[_0-9a-zA-Z-]+){1,2}$/;

        if (!email.match(regExp)){
            alert("올바르지 않은 이메일 형식입니다.");
            return;
        }

        if( $form.find( "input[name='pwd']" ).val() != $form.find( "input[name='pwd2']" ).val())
        {
            alert("비밀번호가 일치하지 않습니다.");
            return;
        }

        var postURL = "@routes.Member.registerUpdate()";
        var processOK = "@routes.Member.login()";

        var posting = $.post( postURL , { "id": id,"pwd":pwd,"email":email } );
        posting.done(function( data ) {
            if(data=="Ok") { location.replace(processOK); }
            else {
                alert(data);
            }
        });

    });
    </script>




}


